flask==3.0.3
gunicorn==22.0.0
flask-cors==4.0.1
Jinja2==3.1.4
requests==2.32.3
MarkupSafe==2.1.5
itsdangerous==2.2.0
google-auth==2.30.0
google-cloud-bigquery==3.24.0
google-cloud-core==2.4.1
tadau==1.0.3